/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[13].use[5]!./app/chi-siamo/team/team.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* Global */
.page-team .wrapper-boxed {
  width: min(90%, 1170px);
  margin-inline: auto;
  display: grid;
  --block-margin: 10vh;
}

h1 {
  font-size: calc(10vw + 5vh + 2vmin);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.715em;
  color: var(--accent);
}

h3 {
  font-size: var(--size6);
}

/* Filter Section */
.filter-member > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 1em;
}

/* li.single-filter:not(.active) > button {
    box-shadow: 0 0.5em 0 -0.015em #fff, 0 0.5em 0.5em 0.285em var(--light);
} */
li.single-filter.active > button {
  border-color: var(--accent);
  transition: 1s;
}

li.single-filter > button:where(:active, :focus, :hover) {
  border-color: var(--accent) !important;
  transition: 1s;
}

li.single-filter > button > img {
  height: 57px;
  margin: -0.95em -1em -1.1em;
}

/* Single Card */
a.team-member-subteam, .filter-member > ul > li > button {
  font-weight: 300;
  font-size: 18px;
  padding: 1em 2em;
  border-radius: 100rem;
  border: 1px solid var(--light);
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  display: grid;
  text-decoration: unset;
  color: inherit;
}

a.team-member-position {
  font-weight: 300;
}

.team-member > * {
  text-align: center;
}

@media (min-width: 540px) {
  .wrap-team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4em 2em;
    gap: 4em 2em;
    margin-block: 4em 8em;
  }
  .wrap-team-members > div:nth-child(3n+2) {
    -webkit-margin-before: var(--block-margin);
            margin-block-start: var(--block-margin);
  }
  .wrap-team-members > div:nth-child(3n+1) {
    -webkit-margin-after: var(--block-margin);
            margin-block-end: var(--block-margin);
  }
  .wrap-team-members > div:nth-child(3n) {
    -webkit-margin-after: var(--block-margin);
            margin-block-end: var(--block-margin);
  }
}
@media (max-width: 980px) {
  .wrap-team-members > div {
    margin-block: 2em;
  }
}
.wrap-team-members > div > img {
  border-radius: var(--radius-circle);
  display: block;
  background-color: var(--light);
  margin: 2em auto;
  aspect-ratio: 1;
  height: auto;
  object-fit: cover;
}

.wrap-team-members > div.lavora-con-noi > img {
  padding: 15%;
  box-sizing: border-box;
}

.team-member.lavora-con-noi :where(h3, a) {
  color: var(--accent);
}

.lavora-con-noi a.team-member-subteam:hover {
  background: var(--light);
  color: var(--accent) !important;
  transition: 0.5s;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[13].use[5]!./app/template/template.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.wrapper-banner-cta-progetto {
  min-height: 50vh;
  background-color: var(--dark);
  color: var(--light);
  font-size: var(--size2) !important;
}
